body {
  background-image: url("./img/superman.jpg");
}

#login-box {
  background-color: white;
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#login-box input {
  width: 300px;
}

#login-box div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}